%ul.product-list
  - @products.each do |product|
    %li.col-md-3.col-sm-6
      .product
        %a
          .name
            %span
              =product.name
        
          %figure
            - #p.images_url.each do |url|
            =image_tag product.images_url.first

          .details
            .description-price
              .from.strike
                De: R$ 40,99
              .to 
                Por:
                =product.current_price
            .div.buttons
              %button.add-cart
          
            
