- entity = Admin
%table.table.table-hover
  %tr
    %th
      =entity.human_attribute_name(:name)
    %th
      =entity.human_attribute_name(:email)    
    %th
      =entity.human_attribute_name(:created_at)
    %th
      Editar  
    %th
      Deletar
  - @admins.each do |admin|
    %tr
      %td
        =admin.name
      %td
        =admin.email
      %td
        =admin.created_at
      %td
        =link_to t(:edit), edit_admin_admin_path(admin)
      %td
        delete_link

  %tr
    %td
      =will_paginate @admins

=button_to "Novo admin", new_admin_admin_path, method: :get, css: "btn btn-default"

