.form-group
  name:
  =@product.name
.form-group
  slug:
  =@product.slug

.form-group
  images:
  %a{href: @product.images.first.file.url, target: "_blank"}
    %img{src: @product.images.first.file.thumb.url}
  
=link_to "voltar", admin_products_path