.navbar.navbar-default.navbar-static-top
  .container
    =link_to t(:site_name), root_path, class: "navbar-brand"
    
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        -if user_signed_in?
          %li.dropdown
            %a{ "data-toggle": "dropdown", role: "button", class: "dropdown-toggle", "aria-expanded": "false", href: "#" } 
              =current_user.name
              %span.caret 

              %ul.dropdown-menu{role: "menu"}
                %li
                  %a Profile 
                %li
                  %a Minhas compras
          %li
            =link_to t("logout"), destroy_user_session_path, method: :delete
        -else
          %li
            = link_to t('signing_up'), new_user_registration_path
          %li
            = link_to t('sign_in'), new_user_session_path
          %li
            = link_to t('sign_out'), destroy_admin_session_path, method: :delete
          %li
            = link_to t('admin'), new_admin_session_path

        %li
          %a
            %span.glyphicon.glyphicon-shopping-cart
            %span{style: "visibility: hidden;"} 1

            

