!!!
%html
  %head
    =render 'layouts/head'
  %body
    =render 'layouts/header'
    .container
      .row
        =render 'layouts/flash'
        .col-md-4
          menu
        .col-md-8
          = yield
  -if Rails.env.development?
    params
    = debug(params) 
    %hr
    session
    = debug(session) 
    %hr
    cookies
    = debug(cookies) 
