!!!
%html
  %head
    =render 'layouts/head'
  %body
    =render 'layouts/header'
    .container
      .row
        =render 'layouts/flash'
        .col-md-2
          menu
        .col-md-10
          = yield

    params
    = debug(params) 
  -if params[:debug] == 'true' && Rails.env.development?
    %hr
    session
    = debug(session) 
    %hr
    cookies
    = debug(cookies) 
