!!!
%html
  %head
    =render 'layouts/head'
  %body
    =render 'layouts/header'
    .container
      .row
        =render 'layouts/flash'
        = yield
  -if Rails.env.development? == false
    params
    = debug(params) 
    %hr
    session
    = debug(session) 
    %hr
    cookies
    = debug(cookies) 
